* {
  font-family: Helvetica;
}
body {
  text-align: center;
}
a {
  font-size: 18px;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 14px;
}



.white {
  color: White;
}
.footer {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
}
